storage/media/*
!storage/media/.gitkeep

storage/music/*
!storage/music/.gitkeep



img/media/*
!img/media/_void.webp

img/users/*
!img/users/_void.webp

css/main.css
css/main.css.map




cache/deploy/*
!cache/deploy/.gitkeep

config.ini
prefs.yml