@keyframes dropdown-in {
    0%      { transform: scale(.3); opacity: 0; }
    80%     { opacity: .5; }
    100%    { transform: scale(1); opacity: 1;}
}

button.selectModal {
    &.multiple  { font-size: .9em; }
    &.empty     { color: RGB(var(--rgb-neutral-dark-20)) }

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    padding-right: 2.5em;

    cursor: pointer;
}

.selectModalCloseArea {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 11;
    opacity: 0;
}

.selectModal-div {
    user-select: none;
    display: block;
    position: fixed;
    min-width: 200px;
    box-shadow: $cardShadow;
    overflow-x: hidden;
    padding: .5em;
    z-index: 20;
    background-color: #fff;
    border-radius: $radius-small;
    transform-origin: top left;
    animation: .15s dropdown-in;

    .groupsBtn {
        position: absolute;
        width: 100px;
        right: 6px;
        top: 6px;
        font-size: 11pt;
        padding: 4px 10px !important;

        .groupsMenu {
            overflow-y: auto;
            max-height: 240px;
            display: none;
            position: absolute;
            top: 14px; right: 0;
            background-color: inherit;
            box-shadow: $cardShadow;
            font-size: 10pt;
            z-index: 21;
            width: 300px;

            > li {
                padding: 4px;
                display: flex;

                > span { flex: 1; }

                > button { 
                    box-shadow: none;
                    background: white;
                    border: 1px solid RGB(var(--rgb-secondary-light-20));
                    padding: 2px;
                    height: 20px;
                    width: 20px;
                 }
            }
        }

        &.shown {
            background-color: RGB(var(--rgb-neutral-light-90));

            &:hover { background-color: RGB(var(--rgb-neutral-light-90)) !important; }
            .groupsMenu { display: block; }
        }
    }


    input[type="search"] {
        width: 170px;
        height: unset;
        position: absolute;
        right: 110px;
        border-radius: $radius-small;
        padding: 2px 1em;
        font-size: 10pt;
    }

    &:not(.multiple) {
        li.selected { pointer-events: none; }
    }

    > label {
        color: RGB(var(--rgb-secondary-dark-20));
        font-size: .9em;
        line-height: 2em;
    }

    > ul {
        padding: 0;
        margin: 0 0 .5em 0;
        display: grid;
        list-style-type: none;
        font-size: .9rem;
        max-height: 600px;
        overflow-y: auto;

        li {
            border-radius: $radius-med;
            cursor: pointer;
            padding: 1em 2em 1em .5em;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: RGB(var(--rgb-neutral-light-90));
            }

            &.selected {
                background-color: RGB(var(--rgb-secondary-light-80));
                font-weight: 500;
            }

            * {
                pointer-events: none;
            }

            span {
                flex: 1;
                font-size: 1.1em;
            }

            img {
                height: 50px;
            }
        }
    }

    &.grid {
        width: 800px;

        ul {
            grid-template-columns: 1fr 1fr 1fr;
            gap: .5em;
        }
    }

    &.list {
        ul {
            grid-template-columns: 1fr;
            gap: .3em;
        }
    }
}